# Resolución

Para esta tarea, se eligió el siguiente DataSet con datos del clima: https://www.kaggle.com/datasets/prasad22/weather-data

### Carga de Datos

In [96]:
import pandas as pd

camino_dataset = "../data/weather_data.csv"

df = pd.read_csv(camino_dataset)

# Muestra las primeras 10 filas del DataFrame para confirmar que los datos se han cargado correctmente.
df.head(10)

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622
5,San Diego,2024-01-21 08:54:56,27.341055,49.023236,9.166543,27.473896
6,San Jose,2024-01-13 02:10:54,1.881883,65.742325,0.221709,1.073112
7,New York,2024-01-25 19:04:34,-6.894766,30.804894,8.027624,16.848337
8,New York,2024-03-29 05:20:30,0.963545,38.819158,3.640129,7.989024
9,San Jose,2024-05-18 09:14:02,-1.607088,82.198701,4.101493,25.647282

### Exploración Inicial de los Datos

#### Mostrar las últimas 5 filas del DataFrame

In [97]:
df.tail(5)

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
999995,Dallas,2024-01-01 20:29:48,23.416877,37.705024,3.819833,16.538119
999996,San Antonio,2024-01-20 15:59:48,6.759080,40.731036,8.182785,29.005558
999997,New York,2024-04-14 08:30:09,15.664465,62.201884,3.987558,0.403909
999998,Chicago,2024-05-12 20:10:43,18.999994,63.703245,4.294325,6.326036
999999,New York,2024-04-16 16:11:52,10.725351,43.804584,1.883292,15.363828

#### Utiliza el método info() para obtener información general sobre el DataFrame, incluyendo el número de entradas, nombres de las columnas, tipos de datos y memoria utilizada.

In [98]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Location          1000000 non-null  object
 1   Date_Time         1000000 non-null  object
 2   Temperature_C     1000000 non-null  float64
 3   Humidity_pct      1000000 non-null  float64
 4   Precipitation_mm  1000000 non-null  float64
 5   Wind_Speed_kmh    1000000 non-null  float64
dtypes: float64(4), object(2)
memory usage: 45.8+ MB

#### Genera estadísticas descriptivas del DataFrame utilizando el método describe().

In [99]:
df.describe()

        Temperature_C    Humidity_pct  Precipitation_mm  Wind_Speed_kmh
count  1000000.000000  1000000.000000    1000000.000000  1000000.000000
mean        14.779705       60.021830          5.109639       14.997598
std         14.482558       17.324022          2.947997        8.663556
min        -19.969311       30.000009          0.000009        0.000051
25%          2.269631       45.008500          2.580694        7.490101
50%         14.778002       60.018708          5.109917       14.993777
75%         27.270489       75.043818          7.613750       22.514110
max         39.999801       89.999977         14.971583       29.999973

### Limpieza de datos

#### Corrige los tipos de datos si es necesario (por ejemplo, convertir cadenas a fechas).

In [100]:
# Para mayor facilidad, es posible convertir la columna Date_time que es de tipo cadena a datetime de python.
df["Date_Time"] = pd.to_datetime(df["Date_Time"], format="%Y-%m-%d %H:%M:%S")

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Location          1000000 non-null  object
 1   Date_Time         1000000 non-null  datetime64[ns]
 2   Temperature_C     1000000 non-null  float64
 3   Humidity_pct      1000000 non-null  float64
 4   Precipitation_mm  1000000 non-null  float64
 5   Wind_Speed_kmh    1000000 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 45.8+ MB

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622

In [101]:
# Volvemos a mostrar las estadísticas de los datos.
df.describe()

,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
count,1000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,2024-03-10 10:40:58.896321792,14.779705,60.021830,5.109639,14.997598
min,2024-01-01 00:00:06,-19.969311,30.000009,0.000009,0.000051
25%,2024-02-04 16:28:23.750000128,2.269631,45.008500,2.580694,7.490101
50%,2024-03-10 11:43:28,14.778002,60.018708,5.109917,14.993777
75%,2024-04-14 03:51:32.500000,27.270489,75.043818,7.613750,22.514110
max,2024-05-18 19:44:10,39.999801,89.999977,14.971583,29.999973
std,NaN,14.482558,17.324022,2.947997,8.663556

Verificamos ahora valores nulos.

In [102]:
from utils import obtener_estadisticas_datos_nulos

df_estadisticas_nulos = obtener_estadisticas_datos_nulos(df)
df_estadisticas_nulos

                  datos sin NAs en q  Na en q  Na en %
Location                     1000000        0      0.0
Date_Time                    1000000        0      0.0
Temperature_C                1000000        0      0.0
Humidity_pct                 1000000        0      0.0
Precipitation_mm             1000000        0      0.0
Wind_Speed_kmh               1000000        0      0.0

Al parecer, no existen valores nulos en el dataset.

#### Elimina duplicados si los hay.

In [103]:
# Primero, chequeamos si hay o no filas duplicadas.
cant_duplicados = len(df[df.duplicated()])
print(f"Cantidad de filas duplicadas: {cant_duplicados}")

Cantidad de filas duplicadas: 0

Como no existen filas duplicadas, no es necesario eliminar nada.

En caso de que existan duplicados, pueden ser eliminadas así: df.drop_duplicates(keep='first', inplace=True)

Notar que keep determina cual versión es la que va a quedar

In [104]:
# Adicionalmente, se pueden identificar si existen datos duplicados sólo en las columnas Location y Date_Time
cant_duplicados_location_datetime = len(df[df.duplicated(["Location", "Date_Time"])])
print(f"Cantidad de filas por ubicación y fecha: {cant_duplicados}")

Cantidad de filas por ubicación y fecha: 0

Como no existen filas duplicadas, no es necesario eliminar nada.

En caso de que existan duplicados, pueden ser eliminadas así: df.drop_duplicates(["Location", "Date_Time"], keep='first', inplace=True)

Adicionalmente, en caso de que hayan duplicados, hay que ver cuáles valores eliminar y cuales no, ya definiendo un criterio de acuerdo a los datos.

### Transformación de Datos

#### Crea nuevas columnas basadas en operaciones con las columnas existentes

In [105]:
# A modo de prueba, se agrega una nueva columna Temperature_F convirtiendo la temperatura en Celsius a Fahrenheit
df["Temperature_F"] = (df["Temperature_C"] * (9/5)) + 32

df.head()

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh,Temperature_F
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540,51.229402
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161,47.721452
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951,52.938385
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303,16.467843
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622,103.654783

In [106]:
# También es posible hacerlo con .apply()

df["Temperature_F"] = df["Temperature_C"].apply(lambda x: (x * 9/5) + 32)

df.head()

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh,Temperature_F
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540,51.229402
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161,47.721452
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951,52.938385
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303,16.467843
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622,103.654783

#### Normaliza o estandariza columnas si es necesario.

In [113]:
df["Humidity_pct"] = df["Humidity_pct"] / 100

# También se puede: df["Humidity_pct"] = df["Humidity_pct"].apply(lambda x: x / 100)

df.head()

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh,Temperature_F,Year_Month,Year_Month_Day
996349,Chicago,2024-01-01 00:03:25,5.222404,0.463957,6.984159,1.219788,41.400326,2024-01,2024-01-01
898802,Chicago,2024-01-01 00:07:14,-6.403267,0.424003,0.451659,0.979239,20.474119,2024-01,2024-01-01
484085,Chicago,2024-01-01 00:09:36,8.227097,0.581970,9.686955,10.769515,46.808775,2024-01,2024-01-01
989809,Chicago,2024-01-01 00:10:35,-2.955866,0.869840,0.783134,20.737256,26.679442,2024-01,2024-01-01
576663,Chicago,2024-01-01 00:10:59,28.382266,0.357556,0.064871,3.502880,83.088078,2024-01,2024-01-01

In [115]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
Date_Time,1000000,2024-03-10 10:40:58.896321792,2024-01-01 00:00:06,2024-02-04 16:28:23.750000128,2024-03-10 11:43:28,2024-04-14 03:51:32.500000,2024-05-18 19:44:10,NaN
Temperature_C,1000000.0,14.779705,-19.969311,2.269631,14.778002,27.270489,39.999801,14.482558
Humidity_pct,1000000.0,0.600218,0.3,0.450085,0.600187,0.750438,0.9,0.17324
Precipitation_mm,1000000.0,5.109639,0.000009,2.580694,5.109917,7.61375,14.971583,2.947997
Wind_Speed_kmh,1000000.0,14.997598,0.000051,7.490101,14.993777,22.51411,29.999973,8.663556
Temperature_F,1000000.0,58.603469,-3.94476,36.085336,58.600404,81.08688,103.999641,26.068605

La humedad ahora está entre 0.3 y 0.9

#### Clasifica los datos en categorías relevantes.

Esto se hace en la sección de análisis de datos también.

### Análisis de Datos

Para realizar un ejemplo de agrupación y de funciones de agregación, una idea sería obtener los promedios de temperatura en Celsius y humedad en porcentaje en cada ciudad y en un rango de tiempo. También se podrían visualizar la cant de datos por ciudad.

In [107]:
from datetime import datetime, timedelta

start_time = datetime(year=2024, month=1, day=1)
end_time = start_time + timedelta(days=3 * 30)

df_en_fechas = df[(df["Date_Time"] >= start_time) & (df["Date_Time"] <= end_time)]

df_en_fechas.groupby("Location")[["Temperature_C", "Humidity_pct"]].agg(["std", "mean", "size", "min", "max", "var"])

             Temperature_C                                          \
                       std       mean   size        min        max
Location
Chicago          14.455587  15.001010  64786  -9.998746  39.998200
Dallas           14.461545  14.918718  64877  -9.999588  39.998211
Houston          14.428510  14.947027  64965  -9.998008  39.998693
Los Angeles      14.491698  15.027929  64565  -9.999461  39.998997
New York         14.412721  15.006707  64754  -9.999870  39.998938
Philadelphia     14.419662  15.057841  64459  -9.999282  39.999325
Phoenix          14.819533  11.640008  65365 -19.969311  39.982125
San Antonio      14.450467  15.058338  64554  -9.999953  39.998271
San Diego        14.427006  14.931712  64650  -9.999986  39.999692
San Jose         14.367822  14.929098  64638  -9.998813  39.999015

                         Humidity_pct                                          \
                     var          std       mean   size        min        max
Location
Chicago       208.964001    17.322551  60.072909  64786  30.001637  89.998857
Dallas        209.136284    17.376691  59.989384  64877  30.000572  89.999059
Houston       208.181895    17.369533  59.989678  64965  30.000734  89.999082
Los Angeles   210.009322    17.311592  60.038412  64565  30.000507  89.998014
New York      207.726537    17.331721  60.095855  64754  30.001079  89.999880
Philadelphia  207.926652    17.275308  60.034410  64459  30.000009  89.999332
Phoenix       219.618570    17.313099  59.986966  65365  30.002950  89.996217
San Antonio   208.815986    17.285577  59.969548  64554  30.000028  89.999637
San Diego     208.138508    17.287000  60.073983  64650  30.001341  89.998941
San Jose      206.434302    17.326047  59.987231  64638  30.001776  89.998643


                     var
Location
Chicago       300.070773
Dallas        301.949399
Houston       301.700669
Los Angeles   299.691204
New York      300.388564
Philadelphia  298.436271
Phoenix       299.743397
San Antonio   298.791156
San Diego     298.840364
San Jose      300.191917

In [108]:
# Otro rango de fechas

start_time = datetime(year=2024, month=4, day=1)
end_time = start_time + timedelta(days=1)

df_en_fechas = df[(df["Date_Time"] >= start_time) & (df["Date_Time"] <= end_time)]

df_en_fechas.groupby("Location")[["Temperature_C", "Humidity_pct"]].agg(["std", "mean", "size", "min", "max", "var"])

             Temperature_C                                                   \
                       std       mean size       min        max         var
Location
Chicago          14.498570  14.936691  713 -9.947536  39.955782  210.208540
Dallas           14.657061  14.456440  725 -9.997936  39.918339  214.829426
Houston          14.294905  13.775213  747 -9.948709  39.957475  204.344305
Los Angeles      14.478412  14.117301  784 -9.983988  39.932386  209.624413
New York         14.370152  14.552610  658 -9.845151  39.936257  206.501274
Philadelphia     14.440143  15.003104  760 -9.906354  39.874026  208.517734
Phoenix          14.165175  14.964916  693 -9.965417  39.986844  200.652184
San Antonio      14.191525  14.213242  739 -9.895227  39.855572  201.399375
San Diego        14.922624  14.376765  792 -9.951691  39.897570  222.684719
San Jose         14.537423  15.449468  683 -9.854595  39.963879  211.336675

             Humidity_pct
                      std       mean size        min        max         var
Location
Chicago         17.376369  58.860038  713  30.014516  89.920259  301.938202
Dallas          17.571897  59.298382  725  30.018787  89.944653  308.771564
Houston         17.913810  59.264671  747  30.008792  89.949268  320.904590
Los Angeles     17.527552  59.940129  784  30.114424  89.931344  307.215080
New York        17.192218  59.989542  658  30.210497  89.878482  295.572356
Philadelphia    17.192361  60.374491  760  30.114580  89.999036  295.577280
Phoenix         17.274097  60.560791  693  30.065287  89.944696  298.394426
San Antonio     17.874175  60.390538  739  30.051209  89.982761  319.486123
San Diego       17.137651  59.952582  792  30.010078  89.908592  293.699077
San Jose        17.460134  59.565219  683  30.079531  89.887558  304.856296

In [109]:
# También, se puede agregar una columna que indique el mes y el año,
# para luego agrupar por dicha columna y realizar más estadísticas.
df["Year_Month"] = df["Date_Time"].apply(lambda dt: dt.strftime("%Y-%m"))
df["Year_Month_Day"] = df["Date_Time"].apply(lambda dt: dt.strftime("%Y-%m-%d"))

In [110]:
# Ordenamos por ciudad y luego por fecha para mayor facilidad
# a la hora de visualizar los datos.
df.sort_values(by=["Location", "Date_Time"], inplace=True)
df.head(10)

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh,Temperature_F,Year_Month,Year_Month_Day
996349,Chicago,2024-01-01 00:03:25,5.222404,46.395687,6.984159,1.219788,41.400326,2024-01,2024-01-01
898802,Chicago,2024-01-01 00:07:14,-6.403267,42.400326,0.451659,0.979239,20.474119,2024-01,2024-01-01
484085,Chicago,2024-01-01 00:09:36,8.227097,58.197003,9.686955,10.769515,46.808775,2024-01,2024-01-01
989809,Chicago,2024-01-01 00:10:35,-2.955866,86.983992,0.783134,20.737256,26.679442,2024-01,2024-01-01
576663,Chicago,2024-01-01 00:10:59,28.382266,35.755630,0.064871,3.502880,83.088078,2024-01,2024-01-01
526810,Chicago,2024-01-01 00:13:44,28.630258,36.909680,8.442318,22.669876,83.534465,2024-01,2024-01-01
26654,Chicago,2024-01-01 00:16:51,20.658784,84.015662,7.095816,17.824529,69.185811,2024-01,2024-01-01
737445,Chicago,2024-01-01 00:20:08,7.851437,44.666860,8.633773,4.562480,46.132587,2024-01,2024-01-01
468343,Chicago,2024-01-01 00:21:36,9.436938,89.553758,0.727363,8.222289,48.986488,2024-01,2024-01-01
308904,Chicago,2024-01-01 00:22:51,36.646044,59.576632,9.285471,25.909385,97.962879,2024-01,2024-01-01

Finalmente, se pueden también sacar datos estadísticos por mes y por ciudad.

In [111]:
df_estadisticas_mes_ciudad = df.groupby(
    by=["Year_Month", "Location"])[
        ["Temperature_C", "Humidity_pct", "Precipitation_mm", "Wind_Speed_kmh", "Temperature_F"]
    ].agg(["mean", "std", "min", "max"]).reset_index().sort_values("Year_Month", ascending=True)

df_estadisticas_mes_ciudad

   Year_Month      Location Temperature_C                                   \
                                     mean        std        min        max
0     2024-01       Chicago     14.858550  14.487067  -9.996121  39.995211
1     2024-01        Dallas     14.937326  14.476657  -9.996346  39.997409
2     2024-01       Houston     14.890978  14.480816  -9.996164  39.995989
3     2024-01   Los Angeles     15.045351  14.480871  -9.999461  39.998152
4     2024-01      New York     14.913930  14.386941  -9.999184  39.998678
5     2024-01  Philadelphia     15.002061  14.430391  -9.995552  39.999325
6     2024-01       Phoenix      9.998150  14.755805 -19.969311  39.953507
7     2024-01   San Antonio     14.970648  14.500521  -9.999806  39.997462
8     2024-01     San Diego     14.999351  14.393781  -9.999986  39.999692
9     2024-01      San Jose     14.923275  14.397236  -9.998813  39.996586
19    2024-02      San Jose     14.963792  14.305584  -9.998768  39.997461
18    2024-02     San Diego     14.842457  14.452732  -9.996134  39.993620
17    2024-02   San Antonio     15.150334  14.435897  -9.998570  39.997010
16    2024-02       Phoenix      9.990732  14.712963 -19.847193  39.962954
15    2024-02  Philadelphia     15.034416  14.445445  -9.999282  39.992049
12    2024-02       Houston     14.970064  14.404534  -9.998008  39.998693
13    2024-02   Los Angeles     14.993925  14.422016  -9.998601  39.997839
11    2024-02        Dallas     14.980380  14.435013  -9.990347  39.998211
10    2024-02       Chicago     15.115803  14.445995  -9.998746  39.998200
14    2024-02      New York     15.012924  14.482254  -9.994168  39.994066
26    2024-03       Phoenix     14.946158  14.436133  -9.995467  39.989595
29    2024-03      San Jose     14.913865  14.406040  -9.999966  39.999015
28    2024-03     San Diego     14.955428  14.427790  -9.999010  39.998701
27    2024-03   San Antonio     15.063530  14.407943  -9.999953  39.998271
25    2024-03  Philadelphia     15.145424  14.367742  -9.998474  39.996532
24    2024-03      New York     15.092249  14.383983  -9.999870  39.998938
23    2024-03   Los Angeles     15.059529  14.569393  -9.998981  39.998997
22    2024-03       Houston     14.971228  14.396360  -9.996907  39.997095
21    2024-03        Dallas     14.833050  14.466663  -9.999588  39.998077
20    2024-03       Chicago     15.076532  14.422655  -9.998036  39.984423
39    2024-04      San Jose     15.032964  14.395965  -9.997986  39.997461
38    2024-04     San Diego     14.885275  14.454387  -9.999702  39.999670
36    2024-04       Phoenix     14.950069  14.435358  -9.992249  39.996450
35    2024-04  Philadelphia     14.952587  14.406251  -9.998655  39.998897
37    2024-04   San Antonio     15.015220  14.408894  -9.999964  39.998170
33    2024-04   Los Angeles     15.079323  14.434645  -9.999420  39.999592
32    2024-04       Houston     14.851340  14.454053  -9.999874  39.998913
31    2024-04        Dallas     15.155844  14.490366  -9.999173  39.998804
30    2024-04       Chicago     15.087250  14.449244  -9.999959  39.993524
34    2024-04      New York     15.007809  14.383467  -9.994992  39.996424
48    2024-05     San Diego     15.013834  14.437834  -9.999363  39.982521
40    2024-05       Chicago     14.852429  14.396131  -9.999896  39.998561
41    2024-05        Dallas     15.240198  14.421559  -9.992163  39.997268
42    2024-05       Houston     15.095303  14.478025  -9.995918  39.995723
43    2024-05   Los Angeles     15.321841  14.467027  -9.999913  39.996207
44    2024-05      New York     15.057543  14.415407  -9.999584  39.999801
45    2024-05  Philadelphia     15.049536  14.404433  -9.997658  39.999642
46    2024-05       Phoenix     14.963822  14.379409  -9.996685  39.998889
47    2024-05   San Antonio     14.886914  14.437411  -9.999663  39.998343
49    2024-05      San Jose     14.944218  14.482749  -9.999394  39.994267

   Humidity_pct                                   ... Precipitation_mm  \
           mean        std        min        max  ...              min
0     59.985599  17.342422  30.001637  89.995757  ...         0.000303
1     59.931464  17.358447  30.000572  89.999059  ...         0.000328
2     60.171391  17.349133  30.002019  89.997482  ...         0.000653
3     60.029803  17.282101  30.000507  89.998014  ...         0.000167
4     60.095414  17.340344  30.003082  89.998085  ...         0.000340
5     59.955053  17.293148  30.006885  89.998516  ...         0.000674
6     59.999574  17.367358  30.002950  89.992864  ...         0.050475
7     59.838812  17.260987  30.000028  89.999428  ...         0.000225
8     60.202882  17.322837  30.001341  89.998038  ...         0.000365
9     59.973502  17.371057  30.004755  89.989744  ...         0.000282
19    60.181728  17.247221  30.001776  89.998643  ...         0.001348
18    60.213411  17.260264  30.004806  89.997752  ...         0.000767
17    60.108492  17.307632  30.002910  89.999637  ...         0.000149
16    59.994000  17.240619  30.004301  89.993365  ...         0.062465
15    60.144226  17.256661  30.000009  89.998486  ...         0.001143
12    59.882104  17.402120  30.001095  89.999082  ...         0.000029
13    60.001198  17.378771  30.002232  89.994207  ...         0.000180
11    60.089645  17.380886  30.003484  89.994364  ...         0.001151
10    60.000772  17.305999  30.002415  89.998857  ...         0.000215
14    60.094957  17.332762  30.001079  89.994135  ...         0.001068
26    60.001302  17.332291  30.003772  89.996217  ...         0.000295
29    59.817657  17.362536  30.002165  89.986052  ...         0.001217
28    59.821808  17.280234  30.001620  89.998941  ...         0.000177
27    59.962594  17.292255  30.002574  89.998785  ...         0.000858
25    60.018585  17.278361  30.001193  89.999332  ...         0.000454
24    60.080223  17.328658  30.002943  89.999880  ...         0.000829
23    60.099581  17.279657  30.004807  89.994737  ...         0.000850
22    59.915233  17.361004  30.000734  89.997164  ...         0.000010
21    59.932452  17.390731  30.000675  89.996970  ...         0.000294
20    60.209846  17.321199  30.006124  89.991875  ...         0.000866
39    60.029737  17.420865  30.004116  89.994469  ...         0.000009
38    59.978439  17.299882  30.004500  89.997671  ...         0.000653
36    60.262872  17.381572  30.013846  89.999666  ...         0.000032
35    60.023649  17.302714  30.002074  89.999036  ...         0.000672
37    59.864453  17.330781  30.000902  89.989597  ...         0.000662
33    60.280033  17.261401  30.002201  89.997346  ...         0.000265
32    59.803500  17.336771  30.002222  89.998898  ...         0.000285
31    59.856324  17.314181  30.003026  89.999929  ...         0.000185
30    60.032718  17.401927  30.003140  89.997932  ...         0.000774
34    59.984329  17.312819  30.004031  89.996344  ...         0.000995
48    60.207164  17.256683  30.001839  89.994848  ...         0.000089
40    60.290724  17.291427  30.001699  89.994276  ...         0.000118
41    60.017557  17.272411  30.010981  89.998230  ...         0.000337
42    60.122436  17.338871  30.001412  89.996942  ...         0.000297
43    59.865373  17.341374  30.000223  89.996422  ...         0.000153
44    59.915021  17.368638  30.000231  89.998328  ...         0.000331
45    60.123864  17.180324  30.002030  89.995383  ...         0.001796
46    59.949447  17.312837  30.006909  89.999014  ...         0.000235
47    59.876752  17.514512  30.005586  89.996292  ...         0.001503
49    59.913670  17.295369  30.004421  89.999977  ...         0.000684

              Wind_Speed_kmh                                Temperature_F  \
          max           mean       std       min        max          mean
0    9.999346      15.008815  8.697653  0.002459  29.998607     58.745389
1    9.999968      14.967478  8.643823  0.000661  29.999971     58.887186
2    9.999774      15.003986  8.645307  0.001140  29.999947     58.803760
3    9.997226      14.968723  8.673367  0.000394  29.999330     59.081631
4    9.999992      14.989964  8.658113  0.000465  29.997098     58.845074
5    9.999889      14.936646  8.623560  0.000892  29.999973     59.003710
6   14.971583      14.997482  8.696203  0.001393  29.999392     49.996670
7    9.999712      14.991590  8.652678  0.001013  29.998826     58.947166
8    9.999573      14.980816  8.676062  0.000614  29.999252     58.998832
9    9.999563      14.985881  8.646501  0.000734  29.999190     58.861895
19   9.999746      15.000713  8.638701  0.001801  29.999932     58.934825
18   9.999654      14.993244  8.713213  0.000873  29.998754     58.716422
17   9.999669      14.989429  8.675665  0.000573  29.998434     59.270601
16  14.896195      15.059361  8.662364  0.000348  29.995000     49.983317
15   9.999643      14.969699  8.655083  0.000272  29.998531     59.061949
12   9.999921      14.987398  8.672792  0.001444  29.999321     58.946116
13   9.999315      15.054848  8.711990  0.003350  29.996768     58.989065
11   9.999293      15.029465  8.644148  0.000342  29.999716     58.964683
10   9.998733      14.963082  8.652912  0.000451  29.999852     59.208446
14   9.999875      14.940294  8.705370  0.000199  29.998473     59.023263
26   9.999483      14.991825  8.647051  0.000090  29.999081     58.903085
29   9.999542      15.015479  8.642873  0.000051  29.998495     58.844957
28   9.999716      15.103224  8.680587  0.000716  29.998422     58.919770
27   9.999734      14.887415  8.627282  0.000654  29.997950     59.114354
25   9.999758      15.104707  8.690515  0.006391  29.999539     59.261763
24   9.999708      15.019544  8.668695  0.000658  29.999434     59.166048
23   9.999522      15.049550  8.669284  0.000688  29.999757     59.107152
22   9.999515      15.009599  8.690743  0.000123  29.998463     58.948210
21   9.999832      15.066807  8.619828  0.001039  29.999938     58.699490
20   9.999563      15.064735  8.659804  0.000774  29.999889     59.137758
39   9.999154      14.891568  8.672944  0.000053  29.998077     59.059335
38   9.999668      15.019514  8.700928  0.001509  29.999920     58.793496
36   9.999893      14.914939  8.612548  0.000833  29.998169     58.910124
35   9.999944      14.984223  8.636553  0.000707  29.997676     58.914656
37   9.998972      14.942936  8.677922  0.001348  29.999800     59.027396
33   9.998988      15.103180  8.693693  0.000173  29.997245     59.142781
32   9.999077      15.004537  8.635042  0.000119  29.999780     58.732412
31   9.999592      15.064966  8.656141  0.000769  29.999133     59.280519
30   9.999889      14.994010  8.663069  0.000171  29.999096     59.157050
34   9.999652      14.948010  8.646669  0.001902  29.999681     59.014057
48   9.999450      15.127087  8.646524  0.004211  29.998855     59.024901
40   9.999521      14.938686  8.662737  0.002394  29.997365     58.734372
41   9.999873      14.954453  8.705403  0.001075  29.999546     59.432356
42   9.999567      14.909846  8.669254  0.000920  29.997088     59.171545
43   9.999446      14.979902  8.601463  0.001520  29.999456     59.579314
44   9.999804      15.085524  8.644456  0.004282  29.999460     59.103577
45   9.999766      14.931915  8.620353  0.003621  29.998949     59.089164
46   9.998966      14.937251  8.742791  0.001860  29.998878     58.934879
47   9.998870      14.985988  8.736672  0.000991  29.998869     58.796445
49   9.999830      14.956978  8.621529  0.002065  29.997827     58.899593


          std        min         max
0   26.076721  14.006982  103.991379
1   26.057982  14.006578  103.995337
2   26.065468  14.006905  103.992780
3   26.065568  14.000970  103.996673
4   25.896493  14.001468  103.997620
5   25.974704  14.008007  103.998785
6   26.560449  -3.944760  103.916313
7   26.100937  14.000349  103.995432
8   25.908806  14.000025  103.999446
9   25.915024  14.002136  103.993854
19  25.750051  14.002218  103.995430
18  26.014917  14.006959  103.988516
17  25.984614  14.002575  103.994618
16  26.483333  -3.724948  103.933316
15  26.001800  14.001292  103.985688
12  25.928161  14.003586  103.997647
13  25.959629  14.002518  103.996110
11  25.983024  14.017376  103.996779
10  26.002791  14.002258  103.996759
14  26.068057  14.010498  103.989318
26  25.985040  14.008159  103.981271
29  25.930872  14.000062  103.998227
28  25.970022  14.001782  103.997662
27  25.934298  14.000085  103.996889
25  25.861936  14.002746  103.993757
24  25.891169  14.000234  103.998088
23  26.224907  14.001834  103.998195
22  25.913448  14.005567  103.994771
21  26.039993  14.000742  103.996539
20  25.960778  14.003535  103.971962
39  25.912736  14.003626  103.995429
38  26.017897  14.000536  103.999406
36  25.983644  14.013952  103.993610
35  25.931252  14.002421  103.998015
37  25.936009  14.000064  103.996705
33  25.982361  14.001043  103.999266
32  26.017296  14.000226  103.998044
31  26.082658  14.001489  103.997848
30  26.008639  14.000073  103.988343
34  25.890240  14.009014  103.993563
48  25.988101  14.001147  103.968537
40  25.913036  14.000186  103.997409
41  25.958807  14.014106  103.995082
42  26.060445  14.007348  103.992301
43  26.040648  14.000156  103.993172
44  25.947732  14.000748  103.999641
45  25.927979  14.004215  103.999356
46  25.882935  14.005967  103.998000
47  25.987340  14.000607  103.997018
49  26.068948  14.001091  103.989680

[50 rows x 22 columns]

Si queremos visualizar por ciudad (Ej: Chicago)

In [112]:
df_estadisticas_mes_ciudad[df_estadisticas_mes_ciudad["Location"] == "Chicago"]

   Year_Month Location Temperature_C                                  \
                                mean        std       min        max
0     2024-01  Chicago     14.858550  14.487067 -9.996121  39.995211
10    2024-02  Chicago     15.115803  14.445995 -9.998746  39.998200
20    2024-03  Chicago     15.076532  14.422655 -9.998036  39.984423
30    2024-04  Chicago     15.087250  14.449244 -9.999959  39.993524
40    2024-05  Chicago     14.852429  14.396131 -9.999896  39.998561

   Humidity_pct                                   ... Precipitation_mm  \
           mean        std        min        max  ...              min
0     59.985599  17.342422  30.001637  89.995757  ...         0.000303
10    60.000772  17.305999  30.002415  89.998857  ...         0.000215
20    60.209846  17.321199  30.006124  89.991875  ...         0.000866
30    60.032718  17.401927  30.003140  89.997932  ...         0.000774
40    60.290724  17.291427  30.001699  89.994276  ...         0.000118

             Wind_Speed_kmh                                Temperature_F  \
         max           mean       std       min        max          mean
0   9.999346      15.008815  8.697653  0.002459  29.998607     58.745389
10  9.998733      14.963082  8.652912  0.000451  29.999852     59.208446
20  9.999563      15.064735  8.659804  0.000774  29.999889     59.137758
30  9.999889      14.994010  8.663069  0.000171  29.999096     59.157050
40  9.999521      14.938686  8.662737  0.002394  29.997365     58.734372


          std        min         max
0   26.076721  14.006982  103.991379
10  26.002791  14.002258  103.996759
20  25.960778  14.003535  103.971962
30  26.008639  14.000073  103.988343
40  25.913036  14.000186  103.997409

[5 rows x 22 columns]